# INTRO TO VARIABLE EXERCISE

---------------------

### 1. What will be the type of the *add* variable?
a = 10

b = 5.1

add = a + b

In [1]:
a = 10
b = 5.1
add = a+b
type(add)

float

### 2. Is 5 == (3+2)?

In [2]:
5==(3+2)

True

### 3. Add 33 in variable *a* and print the result

a = 3

In [3]:
a = 3 + 33
print(a)

36

### 4. Convert integer variable *a* to float and check its type

a = 3

In [9]:
a = 3 
a = float(a)
type(a)

float

### 5. What will be 5 times *a* if the value of a is 10?

In [10]:
a = 10 
print(5*a)

50

### 6. Write a program to calculate the area of a triangle with base = 10 and height = 5

Hint : area of triangle = 1/2 * base * height

In [11]:
area_of_triangle = lambda base,height: 0.5*base*height

area_of_triangle(10,5)

25.0

In [12]:
def area_of_triangle(base,height):
    result = 0.5*base*height
    return result

area_of_triangle(10,5)

25.0

### 7. What will be the value of *z* in the following expression:

z = (v + w) * (x / y)

If 

v = 10

w = 25

x = 70

y = 2

In [13]:
def value_of_z(v,w,x,y):
    z = (v + w) * (x / y)
    return z

value_of_z(10,25,70,2)

1225.0

In [14]:
value_of_z = lambda v,w,x,y: (v + w) * (x / y)

value_of_z(10,25,70,2)

1225.0

### 8. Swap values of *a* and *b* 
If before swapping a = 10 and b = 5

Then after swapping a = 5 and b = 10
##### Values can not be hardcoded

In [18]:
a = 10
b = 5
print('If before swapping a = {} and b = {}'.format(a,b))
temp = a 
a = b
b = temp
print('Then after swapping a = {} and b = {}'.format(a,b))

If before swapping a = 10 and b = 5
Then after swapping a = 5 and b = 10

In [15]:
a = 10 
b = 5
print("A and B before swapping {},{}".format(a,b))
temp = a #create a third variable and assign the value of a to it
a = b #assign the value of b to a
b = temp #value of a is in third variable so assign the value to b
print("A and B after swapping {},{}".format(a,b))

A and B before swapping 10,5
A and B after swapping 5,10

### 9. Convert 35 degree Celsius temperature to Fahrenheit

-------------

In [24]:
temp = lambda x: 9/5*x + 32

temp(35)

95.0