In [2]:
# For the given array,
# demo_array = np.arange(0,10) 
# What will be the output if you run the following lines of code, one after another.

import numpy as np
demo_array = np.arange(0,10)
demo_array

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [3]:
demo_array <3

array([ True,  True,  True, False, False, False, False, False, False,
       False])

In [4]:
demo_array[demo_array <6]

array([0, 1, 2, 3, 4, 5])

In [5]:
np.max(demo_array)

9

In [6]:
# For the given matrix,
demo_matrix = np.array(([13,35,74,48], [23,37,37,38],[73,39,93,39]))

# What will be the output of the following line?
demo_matrix[:, (1,2)]

array([[35, 74],
       [37, 37],
       [39, 93]])

In [7]:
# For the below matrix,
test_array = [10, 11.5, 12, 13.5, 14,15]   

# What will be the output of this below code?
test_array[2:3]

[12]

In [8]:
# What is the output of the following lines of code?
list_l =[[12,34,55,],[66,45,77],[45,77,88]]
np.array(list_l)

array([[12, 34, 55],
       [66, 45, 77],
       [45, 77, 88]])

In [9]:
# What is the output of the following code?

import pandas as pd
score = [10, 15, 20, 25]
pd.Series(data=score, index = ['a','b','c','d'])

a    10
b    15
c    20
d    25
dtype: int64

Which of the following is true?

Vectors are 1 dimensional and matrices are 2 dimensional

newcolumn = ["A", "B", "C", "D", "E"]
dataframe['Alphabets'] = newcolumn

In [10]:
# What is the output of the following code?

np.arange(0,22,6)

array([ 0,  6, 12, 18])

In [11]:
# Which of the following will be the output of the below code?

demo_array = np.arange(10,21)

subset_demo_array = demo_array[0:7]

subset_demo_array[:]= 101

subset_demo_array

array([101, 101, 101, 101, 101, 101, 101])

In [12]:
# Guess the output of the following code

flowers = pd.Series([2, 3, 5, 4], index=['lily', 'rose', 'daisy', 'lotus'])

flowers['daisy']

5

Which of the following is true for the following code? where, 'marks' is an attribute of the dataframe.
* dataframe.drop(‘marks’, axis = 1)

* axis 1 is for searching columns

In [13]:
# Which of the following will produce below output for the two series created s1 and s2?

s1 = pd.Series(['a', 'b'])
s2 = pd.Series(['c', 'd'])

In [14]:
pd.concat([s1,s2])

0    a
1    b
0    c
1    d
dtype: object

In [15]:
# How do we create a dataframe from external sources?

# dataframe = pd.read_csv(‘filename’)

In [16]:
# What is the right way to create list in Python?

# football = [24, 235, 34, 456, 65, 67]

In [17]:
# Which of the following is correct in order to convert the list called 'football' into array? 

# np.array(football)