In [4]:
print('Ola Mundo!')

Ola Mundo!

In [ ]:
print

# Introduction to Python 

This is where we can add text.

We must designate this cell as a 'Markdown' cell.

With a single hashtag we get a big section header.

We can also add subsections.

## Subsection

It is convenient to communicate how your code works and what it is doing with markdown cells!

You can also use LaTeX commands in-line with single dollar signs: $\int_0^\infty f(x) dx$

You can add LaTeX equations centered on their own lines with double dollar signs: $$\sum_{i=1}^\infty \frac{1} {2^i}$$

# Shortcuts

We can look at existing keyboard shortcuts through the help menu, and we can make our own there.

The most important shortcuts are:

1. Shift + Enter (Runs the cell and goes to the next cell)
2. Ctrl + Enter (Runs the cell but remains in the same cell)
3. Alt + Enter (Runs the cell and creates a new cell)
4. Tab (When writing out a function name, you can press tab to see a list of potential function names)
5. Shift + Tab (When the cursor is lined on a function Shift+Tab to see the description of a function)

In [7]:
# we can add comments to code cells using a hashtag
# on windows you can comments a line with Ctrl + /
# on a mac you can comment a line with Cmd + /

# assign a variable to a literal value 
a = 3 
print('five times a is',5*a,'and 3 multiplied by a is',3*a)

a = 2
print('five times a is',5*a,'and 3 multiplied by a is',3*a)

five times a is 15 and 3 multiplied by a is 9
five times a is 10 and 3 multiplied by a is 6

In [8]:
# we can also inspect the type of variable
print('a is of type',type(a))
b = 2.1
print('b is of type',type(b))
c = float(a)/b
print('c is of type',type(c),'and its value is',c)
d = a/b
print('d is of type',type(c),'and its value is',d)

a is of type <class 'int'>
b is of type <class 'float'>
c is of type <class 'float'> and its value is 0.9523809523809523
d is of type <class 'float'> and its value is 0.9523809523809523

In [9]:
string = "Hi"
type(string)

str

# Collections of variables

There are 4 main types of collections of variables in Python:

    1. list
    2. tuple
    3. set 
    4. dictionary

In [10]:
# a list is an ordered and indexed collection of values that are changeable and allows duplicates

simple_list = ['Dan',2,3,4,'python',2.7]
print(simple_list)
print(simple_list[0])
print(simple_list[3])
print(simple_list[-1])
print(simple_list[-2])
print(len(simple_list))

['Dan', 2, 3, 4, 'python', 2.7]
Dan
4
2.7
python
6

In [11]:
# it is easy to change entries of a list

simple_list[3] = 52
print(simple_list[3]) # index is based on 0!!!
simple_list.append('to the back')
print(simple_list)
print(len(simple_list))
simple_list.pop(4)
print(simple_list)

52
['Dan', 2, 3, 52, 'python', 2.7, 'to the back']
7
['Dan', 2, 3, 52, 2.7, 'to the back']

In [12]:
# it is easy to initialize a list of a particular size with all entries the same 

repeated_list = [5]*4
print(repeated_list)

[5, 5, 5, 5]

In [13]:
# we can even use lists as entries of a list

simple_list[1] = [1,2,3]
print(simple_list)
print(simple_list[1])
print(simple_list[1][1])

['Dan', [1, 2, 3], 3, 52, 2.7, 'to the back']
[1, 2, 3]
2

In [14]:
# copying lists is a little tricky

list2 = simple_list
print(list2)
print(simple_list)
list2[1] = 0 
print(list2)
print(simple_list)

# If a list is equal to another list in changing one the other is changed as well for memory-purposes

['Dan', [1, 2, 3], 3, 52, 2.7, 'to the back']
['Dan', [1, 2, 3], 3, 52, 2.7, 'to the back']
['Dan', 0, 3, 52, 2.7, 'to the back']
['Dan', 0, 3, 52, 2.7, 'to the back']

In [15]:
# we must use the copy method to prevent this behavior

list3 = simple_list.copy()
print(list3)
print(simple_list)
list3[0] = 'Mitchell'
print(list3)
print(simple_list)

['Dan', 0, 3, 52, 2.7, 'to the back']
['Dan', 0, 3, 52, 2.7, 'to the back']
['Mitchell', 0, 3, 52, 2.7, 'to the back']
['Dan', 0, 3, 52, 2.7, 'to the back']

In [16]:
# a tuple is an ordered collection of values that are unchangeable and allows duplicates

simple_tuple = (12,42,11,99,2351)
print(simple_tuple)
print(simple_tuple[1])

(12, 42, 11, 99, 2351)
42

In [17]:
# it is not possible to change entries in a tuple

simple_tuple[0] = 5

TypeError: 'tuple' object does not support item assignment

In [18]:
# you can work around this though...

dummy = list(simple_tuple)
dummy[0] = 5
simple_tuple = tuple(dummy)
print(simple_tuple)

(5, 42, 11, 99, 2351)

In [19]:
# a set is an unordered collection of values that are changeable and does not allow duplicates

simple_set = {11,-2,'water',-2}
print(simple_set)

{11, -2, 'water'}

In [20]:
print(simple_set[1])

TypeError: 'set' object is not subscriptable

In [21]:
print('water' in simple_set)

True

In [22]:
# you can't change values but you can add and remove entries from a set

simple_set.add(72)
print(simple_set)
simple_set.remove('water')
print(simple_set)

{72, 11, -2, 'water'}
{72, 11, -2}

In [26]:
# a dictionary is a collection of values that are unordered (but indexed) and changeable

simple_dict = {
    'brand': 'Apple',
    'product': 'iPhone',
    'model': 'X'
}

print(simple_dict)
print('I bought an',simple_dict['product'],'model',simple_dict['model'],'from',simple_dict['brand'])

{'brand': 'Apple', 'product': 'iPhone', 'model': 'X'}
I bought an iPhone model X from Apple

In [27]:
simple_dict['model'] = '11 Pro'
print('I bought an',simple_dict['product'],'model',simple_dict['model'],'from',simple_dict['brand'])

I bought an iPhone model 11 Pro from Apple

In [31]:
# we can also add entries to the dictionary

simple_dict['color'] = 'red'
print('I bought a',simple_dict['color'],simple_dict['product'],'model',simple_dict['model'],'from',simple_dict['brand'])

I bought a red iPhone model 11 Pro from Apple

# Accessing data in lists

A list is the main data type we will use for now and there are some rules we need to remember for accessing data in lists.

Later we'll get into NumPy arrays, but the same rules here apply to them.

With NumPy arrays we can access data in more ways.

In [33]:
simple_list = [1,5,2,7,3,66,1923,11]
# we can access multiple values in the list using the
print(simple_list[2:5])
# we must be careful though
# why isn't 66 in the output?
# the number to the left of the ':' is inclusive, but the number to the right is exclusive
print(simple_list[2:3])
# we can also use negative numbers
print(simple_list[-5:-1])

[2, 7, 3]
[2]
[7, 3, 66, 1923]

# Wrapping up

Once we are done with a notebook we can export it as an html file.

    1. File
    2. Download as
    3. HTML
    
The code in this HTML file can't be re-run but is a concise way to communicate your results. And anyone can copy/paste your cell inputs.

# 1.5 Test Your Understanding

In [34]:
X = (10,'Range','DSBA',-54,11,12)
type(X)

tuple

In [35]:
X = [10,'Range','DSBA',-54,11,12]
print(X[2:4])

['DSBA', -54]

In [36]:
print(len(X[2:4]))

2

In [37]:
print(X[2:1])

[]

In [38]:
print(X[-2:-1])

[11]

In [40]:
X = {10,'Range','DSBA',-54,11,12}
print(X[1])

TypeError: 'set' object is not subscriptable